# Aircraft Risk Analysis for Informed Investment Decisions

## Introduction 

The aviation industry presents significant opportunities for business growth but also comes with inherent risks—especially in terms of aircraft safety. As our company looks to diversify its portfolio by entering the aviation market, understanding and mitigating these risks is critical. 

This project leverages aviation accident data from 1962 to 2023 to identify trends and uncover which aircraft models have the lowest risk profiles. By cleaning and analyzing this data and presenting our findings with clear visualizations, we aim to provide actionable insights for the head of the aviation division. These insights will support informed investment decisions by highlighting the safest aircraft options, ultimately reducing risk and promoting operational success.

## Data Loading

In [4]:
# Importing the necessary libraries with their respective aliases

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("khsamaha/aviation-accident-database-synopses")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\USER\.cache\kagglehub\datasets\khsamaha\aviation-accident-database-synopses\versions\15

In [6]:
df = pd.read_csv('./AviationData.csv', encoding="Windows-1252", low_memory=False, sep=',', header=0)

# previewing the first 5 rows
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [7]:
# previewing the last 5 rows
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [8]:
# getting the columns
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [9]:
# removing any white spaces
df.columns = df.columns.str.strip()

## Data Cleaning

### Understanding the Data

In [12]:
# getting the shape
df.shape

print(f"Rows:{df.shape[0]}, Columns: {df.shape[1]}")

Rows:88889, Columns: 31

In [13]:
# Breif info on the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

### Analysing Missing Data

In [15]:
#Check for missing values
df.isnull()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,False,True,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,True,True,True,False
88885,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
88886,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
88887,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,True,True,True,True
88888,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,True,True,True,False

In [16]:
df.isnull().any()

Event.Id                  False
Investigation.Type        False
Accident.Number           False
Event.Date                False
Location                   True
Country                    True
Latitude                   True
Longitude                  True
Airport.Code               True
Airport.Name               True
Injury.Severity            True
Aircraft.damage            True
Aircraft.Category          True
Registration.Number        True
Make                       True
Model                      True
Amateur.Built              True
Number.of.Engines          True
Engine.Type                True
FAR.Description            True
Schedule                   True
Purpose.of.flight          True
Air.carrier                True
Total.Fatal.Injuries       True
Total.Serious.Injuries     True
Total.Minor.Injuries       True
Total.Uninjured            True
Weather.Condition          True
Broad.phase.of.flight      True
Report.Status              True
Publication.Date           True
dtype: bool

In [17]:
# count of miising values per column
missing = df.isnull().sum()

missing.sort_values(ascending=False) # sort in descending order

Schedule                  76307
Air.carrier               72241
FAR.Description           56866
Aircraft.Category         56602
Longitude                 54516
Latitude                  54507
Airport.Code              38757
Airport.Name              36185
Broad.phase.of.flight     27165
Publication.Date          13771
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Fatal.Injuries      11401
Engine.Type                7096
Report.Status              6384
Purpose.of.flight          6192
Number.of.Engines          6084
Total.Uninjured            5912
Weather.Condition          4492
Aircraft.damage            3194
Registration.Number        1382
Injury.Severity            1000
Country                     226
Amateur.Built               102
Model                        92
Make                         63
Location                     52
Investigation.Type            0
Event.Date                    0
Accident.Number               0
Event.Id                      0
dtype: int64

In [18]:
# calculate the percentage  of missing data
percentage_missing = np.round(df.isnull().sum() / len(df) *100, 2)
percentage_missing.sort_values(ascending=False)

Schedule                  85.85
Air.carrier               81.27
FAR.Description           63.97
Aircraft.Category         63.68
Longitude                 61.33
Latitude                  61.32
Airport.Code              43.60
Airport.Name              40.71
Broad.phase.of.flight     30.56
Publication.Date          15.49
Total.Serious.Injuries    14.07
Total.Minor.Injuries      13.42
Total.Fatal.Injuries      12.83
Engine.Type                7.98
Report.Status              7.18
Purpose.of.flight          6.97
Number.of.Engines          6.84
Total.Uninjured            6.65
Weather.Condition          5.05
Aircraft.damage            3.59
Registration.Number        1.55
Injury.Severity            1.12
Country                    0.25
Amateur.Built              0.11
Model                      0.10
Make                       0.07
Location                   0.06
Investigation.Type         0.00
Event.Date                 0.00
Accident.Number            0.00
Event.Id                   0.00
dtype: float64

In [19]:
# store in DataFrame
miss_df = pd.DataFrame({
    "Count": missing.values,
    "%" : percentage_missing.values
}, index=missing.index)

miss_df

                        Count      %
Event.Id                    0   0.00
Investigation.Type          0   0.00
Accident.Number             0   0.00
Event.Date                  0   0.00
Location                   52   0.06
Country                   226   0.25
Latitude                54507  61.32
Longitude               54516  61.33
Airport.Code            38757  43.60
Airport.Name            36185  40.71
Injury.Severity          1000   1.12
Aircraft.damage          3194   3.59
Aircraft.Category       56602  63.68
Registration.Number      1382   1.55
Make                       63   0.07
Model                      92   0.10
Amateur.Built             102   0.11
Number.of.Engines        6084   6.84
Engine.Type              7096   7.98
FAR.Description         56866  63.97
Schedule                76307  85.85
Purpose.of.flight        6192   6.97
Air.carrier             72241  81.27
Total.Fatal.Injuries    11401  12.83
Total.Serious.Injuries  12510  14.07
Total.Minor.Injuries    11933  13.42
Total.Uninjured          5912   6.65
Weather.Condition        4492   5.05
Broad.phase.of.flight   27165  30.56
Report.Status            6384   7.18
Publication.Date        13771  15.49

In [20]:
# drop values where count is 0
miss_df.drop(miss_df[miss_df['Count'] == 0].index, inplace=True)
miss_df

                        Count      %
Location                   52   0.06
Country                   226   0.25
Latitude                54507  61.32
Longitude               54516  61.33
Airport.Code            38757  43.60
Airport.Name            36185  40.71
Injury.Severity          1000   1.12
Aircraft.damage          3194   3.59
Aircraft.Category       56602  63.68
Registration.Number      1382   1.55
Make                       63   0.07
Model                      92   0.10
Amateur.Built             102   0.11
Number.of.Engines        6084   6.84
Engine.Type              7096   7.98
FAR.Description         56866  63.97
Schedule                76307  85.85
Purpose.of.flight        6192   6.97
Air.carrier             72241  81.27
Total.Fatal.Injuries    11401  12.83
Total.Serious.Injuries  12510  14.07
Total.Minor.Injuries    11933  13.42
Total.Uninjured          5912   6.65
Weather.Condition        4492   5.05
Broad.phase.of.flight   27165  30.56
Report.Status            6384   7.18
Publication.Date        13771  15.49

From the analysis, some columns have a significant number of missing values:

* `Latitude` & `Longitude`, `Aircraft Category`, `FAR Description`, `Air Carrier`, and `Schedule` ->> Over 60% missing
* `Broad Phase of Flight`, `Publication Date`, and `Injury Counts` ->> Have partial missing data

### Dropping some columns with many missing values

In [23]:
df.drop(columns=["Schedule", "Air.carrier", "FAR.Description", "Aircraft.Category"], inplace=True)

In [24]:
# cofirming the drop
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Registration.Number', 'Make', 'Model', 'Amateur.Built',
       'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'],
      dtype='object')

#### Longitude & Latitude
Since the `Longitude` & `Latitude` columns have majority of their values I have opted to drop them, use the `Location` column as my inference point

In [115]:
# dropping Longitude & Latitude
df.drop(columns=['Latitude', 'Longitude'], inplace=True)

KeyError: "['Latitude', 'Longitude'] not found in axis"

In [ ]:
# confirming the drop
df.columns

Since `Location` has only 0.06% of missing values, removing the rows with missing values will have a negligable impact in my analysis and it ensures I work with complete geographical information

In [29]:
# Drop missing Location values (without inplace)
df = df.dropna(subset=["Location"])

# Confirming the drop
print(df["Location"].isnull().sum())  # Should return 0

0

### Filling Missing Values for some Columns

#### Country, Airpot.Name, Airport.Code
Since I will be using the `Location` column for geographical analysis I will fill the missing values in the `Country`, `Airpot.Name`, `Airport.Code` Columns with 'Unknown'

In [97]:
# Filling Country
df["Country"].fillna("Unknown", inplace=True)

In [99]:
# Confirming the fill

print(df["Country"].isnull().sum())

0

In [101]:
# Filling Airpot.Name
df["Airport.Name"].fillna("Unknown", inplace=True)

In [103]:
# Confirming the fill
print(df["Airport.Name"].isnull().sum())

0

In [105]:
#Filling Airpot.Code
df["Airport.Code"].fillna("Unknown", inplace=True)

In [126]:
# Confirming the fill
print(df["Airport.Code"].isnull().sum())

0

#### Injury.Severity
I intend on dropping this column as it has missing values an I will use the columns `Total.Fatal.Injuries` `Total.Serious.Injuries`	`Total.Minor.Injuries` `Total.Uninjured` for analysis

In [119]:
# droppig the column
df.drop(columns=["Injury.Severity"], inplace=True)

# confirming drop
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Airport.Code', 'Airport.Name',
       'Aircraft.damage', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'Purpose.of.flight', 'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'],
      dtype='object')

#### Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured
For the above injury counts, I assume that missing values means 0

In [150]:
df["Total.Fatal.Injuries"].fillna(0, inplace=True)

# Confirming the fill
print(df["Total.Fatal.Injuries"].isnull().sum())

0

C:\Users\USER\AppData\Local\Temp\ipykernel_11892\2986704260.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Total.Fatal.Injuries"].fillna(0, inplace=True)

In [152]:
df["Total.Serious.Injuries"].fillna(0, inplace=True)

# Confirming the fill
print(df["Total.Serious.Injuries"].isnull().sum())

0

C:\Users\USER\AppData\Local\Temp\ipykernel_11892\2085841987.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Total.Serious.Injuries"].fillna(0, inplace=True)

In [154]:
df["Total.Minor.Injuries"].fillna(0, inplace=True)

# Confirming the fill
print(df["Total.Minor.Injuries"].isnull().sum())

0

C:\Users\USER\AppData\Local\Temp\ipykernel_11892\1642223735.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Total.Minor.Injuries"].fillna(0, inplace=True)

In [156]:
df["Total.Uninjured"].fillna(0, inplace=True)

# Confirming the fill
print(df["Total.Uninjured"].isnull().sum())

0

C:\Users\USER\AppData\Local\Temp\ipykernel_11892\4113494134.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Total.Uninjured"].fillna(0, inplace=True)

#### Aircraft.damage, Registration.Number, Make', 'Model', 'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight','Weather.Condition','Broad.phase.of.flight', 'Publication.Date'

For the above column I would replace their missing values with unknown as most of them contain a small % of missing values and others such as Registration.Number are unique identifiers

In [159]:
# Filling Aircraft.damage
df["Aircraft.damage"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Aircraft.damage"].isnull().sum())

0

In [164]:
# Filling Registration.Number
df["Registration.Number"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Registration.Number"].isnull().sum())

0

In [169]:
# Filling Make
df["Make"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Make"].isnull().sum())

0

In [173]:
# Filling Model
df["Model"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Model"].isnull().sum())

0

In [177]:
# Filling Amateur.Built
df["Amateur.Built"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Amateur.Built"].isnull().sum())

0

In [181]:
# Filling Number.of.Engines
df["Number.of.Engines"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Number.of.Engines"].isnull().sum())

0

In [185]:
# Filling Engine.Type
df["Engine.Type"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Engine.Type"].isnull().sum())

0

In [189]:
# Filling Purpose.of.flight
df["Purpose.of.flight"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Purpose.of.flight"].isnull().sum())

0

In [193]:
# Filling Weather.Condition
df["Weather.Condition"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Weather.Condition"].isnull().sum())

0

In [197]:
# Filling Broad.phase.of.flight
df["Broad.phase.of.flight"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Broad.phase.of.flight"].isnull().sum())

0

In [201]:
# Filling Publication.Date
df["Publication.Date"].fillna("Unknown", inplace=True)

# Confirming the fill
print(df["Publication.Date"].isnull().sum())

0

#### Report Status
For this column, instead of filling it with unknown, I will fill it with 'Pending'

In [206]:
# Filling Report.Status
df["Report.Status"].fillna("Pending", inplace=True)

# Confirming the fill
print(df["Report.Status"].isnull().sum())

0

### Checking For Missing Values after clean up

In [208]:
missing_values = df.isnull().sum()

missing_values.sort_values(ascending=False) # sort in descending order

Event.Id                  0
Investigation.Type        0
Report.Status             0
Broad.phase.of.flight     0
Weather.Condition         0
Total.Uninjured           0
Total.Minor.Injuries      0
Total.Serious.Injuries    0
Total.Fatal.Injuries      0
Purpose.of.flight         0
Engine.Type               0
Number.of.Engines         0
Amateur.Built             0
Model                     0
Make                      0
Registration.Number       0
Aircraft.damage           0
Airport.Name              0
Airport.Code              0
Country                   0
Location                  0
Event.Date                0
Accident.Number           0
Publication.Date          0
dtype: int64

From the above, we can now see the data does not have any missing values

## Data Analysis

## Data Visualization

## Conclusion